.footer {
  width: 100%;
  padding: 67px 0 60px;
}

.footer__text {
  max-width: 880px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
@media (max-width: 1279px) {
  .footer {
    padding: 8.72% 0 7.81%;
  }
}

@media (max-width: 767px) {
  .footer {
     max-width: 90%;
    padding: 20% 5% 19%;
  }
}