.footer {
  width: 100%;
  padding: 67px 0 60px;
}

.footer__text {
  max-width: 880px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    text-align: left;
  }
   }