.gallery {
  width: 880px;
  margin: 0 auto;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.gallery__item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.gallery__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  display: block;
}

.gallery__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 25px 21px;
}

.gallery__title {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  margin: 0;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gallery__like-button {
  width: 21px;
  height: 19px;
  background-image: url('../images/like-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.gallery__like-button:hover {
   opacity: 0.6;
  transition: opacity 0.3s ease;
}


.gallery__like-button_active {
  background-image: url('../images/like-active.svg');
}

@media (max-width: 1279px) {
  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 767px) {
.gallery {
  width: 100%;
  margin: 0 auto;
}

  .gallery__list {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .gallery__item {
    width: 88%;
  }
   .gallery__title {
    max-width: 100%; 
  }
}
