.header {
  margin-top: 45px;
}

.header__container {
  width: 880px;
  height: 74px;
  margin: 0 auto; 
  display: flex;
  align-items: flex-start; 
  border-bottom: 1px solid #545454;
}

.header__title {
  font-size: 0; 
  margin: 0;
  padding: 0;
  line-height: 0; 
  display: flex;  
  align-items: flex-start;
}

.header__main {
  display: inline-block;
  font-size: 32px;
  font-weight: 900;
  line-height: 44px;
  color: #fff;
  position: relative;
  top: 10px; 
}

.header__subtitle {
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  vertical-align: super; 
  margin-left: 8px; 
}

@media (max-width: 1279px) {
  .header {
    width: 100%;
    padding: 6% 0 5%;
    max-width: 90%;
    margin: 0 auto;
  }
}



@media (max-width: 767px) {
  .header {
    padding: 14% 0 12%;
    max-width: 88%;
    margin: 0 auto;
  }
.header__container {
  width: 90%;
}

  .header__logo {
    width: 75%;
    height: auto;
  }
}


