.header {
  margin-top: 45px;
}

.header__container {
  width: 880px;
  height: 74px;
  margin: 0 auto; 
  display: flex;
  align-items: flex-start; 
  border-bottom: 1px solid #545454;
}

.header__title {
  font-size: 0; 
  margin: 0;
  padding: 0;
  line-height: 0; 
  display: flex;  
  align-items: flex-start;
}

.header__main {
  display: inline-block;
  font-size: 32px;
  font-weight: 900;
  line-height: 44px;
  color: #fff;
  position: relative;
  top: 10px; 
}

.header__subtitle {
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  vertical-align: super; 
  margin-left: 8px; 
}
@media screen and (max-width: 767px) {
  .header {
    padding: 28px 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    width: 100%;
    max-width: 320px;
    margin: auto 0;
  }

  .header__container {
    padding-left: 27px; 
    display: block;
    width: auto; 
  }

  .header__title {
    font-size: 22px;
    line-height: 34px;
  }

  .header__subtitle {
    font-size: 12px;
    line-height: 17px;
  }
}

