.popup {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  background-color: #fff;
  padding: 34px 36px 36px;
  border-radius: 10px;
  width: 430px;
  box-sizing: border-box;
  position: relative;
}

.popup__close {
  background-image: url('../images/Close-Icon.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 24px;
  color: #000;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.popup__input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-size: 14px;
}

.popup__button {
  background-color: #000;
  color: #fff;
  border: none;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
}

.popup__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
