.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup__container {
  background-color: #fff;
  color: #000;
  padding: 24px;
  border-radius: 10px;
  width: 430px;
  max-width: 90%;
  position: relative;
}

.popup__title {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}

.popup__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.popup__save-button {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.popup__save-button:hover {
  background-color: #333;
}

.popup__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .popup__container {
    width: 90%;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .popup__input {
    padding: 8px;
    font-size: 15px;
  }

  .popup__save-button {
    padding: 10px;
    font-size: 15px;
  }
}
