
.popup {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}


.popup__container {
  position: relative;
  width: 430px;
  min-height: 330px;
  background-color: white;
  border-radius: 10px;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}


.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-image: url('../images/Close-Icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.popup__close:hover {
  opacity: 0.6;
}


.popup__title {
  width: 330px;
  height: 23px;
  margin: 0 0 54px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%; 
  letter-spacing: 0;
  color: #000;
  text-align: left;
}



.popup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.popup__input {
  width: 358px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 8px;
  margin-bottom: 30px;
  background-color: transparent;
  color: #000;
  outline: none;
}


.popup__button {
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 18px;
}
.popup__button:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.6);
}


.popup__button:disabled {
  background-color: transparent;
  color: #000;
  opacity: 0.2;
  border: 1px solid #000;
  cursor: default;
}
@media screen and (max-width: 768px) {
  .popup__container {
    width: 360px;
    padding: 30px 28px;
  }

  .popup__title {
    width: 100%;
    font-size: 22px;
    margin-bottom: 45px;
  }

  .popup__input,
  .popup__button {
    width: 100%;
  }
@media screen and (max-width: 320px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }

  .popup__title {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 76px;
  }

  .popup__input {
    width: 238px;
    height: 17px;
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 6px;
    margin-bottom: 24px;
  }

  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 16px;
    line-height: 18px;
    margin-top: 22px;
  }

  .popup__close {
    top: -50px;
    right: -2px;
    width: 26px;
    height: 26px;
  }
}

}
