.profile {
  margin-top: 40px;
}

.profile__container {
  width: 880px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__avatar {
 
  overflow: hidden;
  border-radius: 25%;
  flex-shrink: 0;
}

.profile__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  display: block;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  flex-grow: 1;
}

.profile__header {
  display: flex;
  align-items: center;
  gap: 18px;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  
  color: #fff;
  margin: 0;
}

.profile__edit-name {
  width: 24px;
  height: 24px;
  background-image: url('../images/Edit-Button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile__profession {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  margin: 16px 0 0;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .profile {
    margin-top: 42px;
    
  }

  .profile__container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__avatar {
    border-radius: 50%;
    margin-bottom: 26px;
  }

  .profile__image {
    width: 120px;
    height: 120px;
  }

  .profile__info {
    margin-left: 0;
    text-align: center;
  }

  .profile__header {
    justify-content: center;
    gap: 10px;
    margin-bottom: 14px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 22px;
    max-width: 196px;
  }

  .profile__edit-name {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
  }

  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    margin: 0;
    padding-bottom: 36px;
  }

   .profile__add-button {
    width: 282px;
    font-size: 40px;
    line-height: 40px;
    border: 3px solid #fff;
  }
}
